.bodyRow {
  cursor: pointer;
}


.bodyRow td {
  border: var(--border-width) solid #fff;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  background-color: hsl(0, 0%, 96%);
  transition: background-color 0.2s ease-in-out;
}

.bodyRow:hover td {
  background-color: hsl(0, 0%, 93%);
}


.currentDay {
  text-align: center;
}

.yesterday {
  display: flex;
  justify-content: center;
  gap: 30px;

}

.thisDaysWeek {
  text-align: center;
}
